{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="module_chatgpt_generator_status" id="input-status" class="form-control">
                                {% if status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-debug_status">{{ entry_debug_status }}</label>
                        <div class="col-sm-10">
                            <select name="module_chatgpt_generator_debug_status" id="input-debug_status" class="form-control">
                                {% if status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-product-description-status">{{ entry_product_description_status }}</label>
                        <div class="col-sm-10">
                            <select name="module_chatgpt_generator_product_description_status" id="input-product-_description-status" class="form-control">
                                {% if status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-api-key">* {{ entry_api_key }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_chatgpt_generator_api_key" value="{{ api_key }}" placeholder="{{ entry_api_key }}" id="input-api-key" class="form-control" />
                            {% if error_api_key %}
                                <div class="text-danger">{{ error_api_key }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-model">* <span data-toggle="tooltip" title="{{ help_model }}">{{ entry_model }}</span></label>
                        <div class="col-sm-10">
                            <select name="module_chatgpt_generator_model" id="input-status" class="form-control">
                                {% for model_key, model_data in models_data %}
                                    {% if model_key == model %}
                                        <option value="{{ model_key }}" selected="selected">{{ model_data }}</option>
                                    {% else %}
                                        <option value="{{ model_key }}">{{ model_data }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            {% if error_model %}
                                <div class="text-danger">{{ error_model }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-temperature">* <span data-toggle="tooltip" title="{{ help_temperature }}">{{ entry_temperature }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="module_chatgpt_generator_temperature" value="{{ temperature }}" placeholder="{{ entry_temperature }}" id="input-temperature" class="form-control" />
                            {% if error_temperature %}
                                <div class="text-danger">{{ error_temperature }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-max-tokens">* <span data-toggle="tooltip" title="{{ help_max_tokens }}">{{ entry_max_tokens }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="module_chatgpt_generator_max_tokens" value="{{ max_tokens }}" placeholder="{{ entry_max_tokens }}" id="input-max-tokens" class="form-control" />
                            {% if error_max_tokens %}
                                <div class="text-danger">{{ error_max_tokens }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-top-p">* <span data-toggle="tooltip" title="{{ help_top_p }}">{{ entry_top_p }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="module_chatgpt_generator_top_p" value="{{ top_p }}" placeholder="{{ entry_top_p }}" id="input-top-p" class="form-control" />
                            {% if error_top_p %}
                                <div class="text-danger">{{ error_top_p }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-presence-penalty">* <span data-toggle="tooltip" title="{{ help_presence_penalty }}">{{ entry_presence_penalty }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="module_chatgpt_generator_presence_penalty" value="{{ presence_penalty }}" placeholder="{{ entry_presence_penalty }}" id="input-presence-penalty" class="form-control" />
                            {% if error_presence_penalty %}
                                <div class="text-danger">{{ error_presence_penalty }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-frequency-penalty">* <span data-toggle="tooltip" title="{{ help_frequency_penalty }}">{{ entry_frequency_penalty }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="module_chatgpt_generator_frequency_penalty" value="{{ frequency_penalty }}" placeholder="{{ entry_frequency_penalty }}" id="input-frequency-penalty" class="form-control" />
                            {% if error_frequency_penalty %}
                                <div class="text-danger">{{ error_frequency_penalty }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-stop"><span data-toggle="tooltip" title="{{ help_stop }}">{{ entry_stop }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="module_chatgpt_generator_stop" value="{{ stop }}" placeholder="{{ entry_stop }}" id="input-stop" class="form-control" />
                            {% if error_stop %}
                                <div class="text-danger">{{ error_stop }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_languages }}</label>
                        <div class="col-sm-10">
                            <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for language in languages_data %}
                                    <div class="checkbox">
                                        <label> {% if language.language_id in languages %}
                                                <input type="checkbox" name="module_chatgpt_generator_languages[]" value="{{ language.language_id }}" checked="checked"/>
                                                {{ language.name }}
                                            {% else %}
                                                <input type="checkbox" name="module_chatgpt_generator_languages[]" value="{{ language.language_id }}"/>
                                                {{ language.name }}
                                            {% endif %} </label>
                                    </div>
                                {% endfor %}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-product-work-count"><span data-toggle="tooltip" title="{{ help_product_work_count }}" style="font-weight: 900;">{{ entry_product_work_count }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" readonly="readonly" id="input-product-work-count" value="{{ product_work_count }}" class="form-control" />
                            <button onclick="addProductsToList(); return false;" class="add-products-to-list btn btn-primary"  style="margin-top: 10px;">{{ button_add_to_list }}</button>
                            <button onclick="addAllProductsToList(); return false;" class="add-all-products-to-list btn btn-primary"  style="margin-top: 10px;">{{ button_add_all_products }}</button>
                            <button onclick="clearProductsToList(); return false;" class="clear-products-to-list btn btn-danger"  style="margin-top: 10px;">{{ button_clear_products }}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-product-work-count"><span data-toggle="tooltip" title="{{ help_bad_product_work_count }}">{{ entry_bad_product_work_count }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" readonly="readonly" id="input-bad-product-work-count" value="{{ bad_product_work_count }}" class="form-control" />
                            <button onclick="addBadProductsToList(); return false;" class="add-bad-products-to-list btn btn-primary"  style="margin-top: 10px;">{{ button_add_to_bad_list }}</button>
                            <button onclick="clearBadProductsToList(); return false;" class="clear-bad-products-to-list btn btn-danger"  style="margin-top: 10px;">{{ button_clear_bad_products }}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-manual"><span data-toggle="tooltip" title="{{ help_manual }}">{{ entry_manual }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="manual" value="" placeholder="{{ entry_manual }}" id="input-manual" class="form-control"/>
                            <div id="product-manual" class="well well-sm" style="height: 150px; overflow: auto;"> {% for product_related in product_relateds %}
                                    <div id="product-manual{{ product_related.product_id }}"><i class="fa fa-minus-circle"></i> {{ product_related.name }}
                                        <input type="hidden" name="product_manual[]" value="{{ product_related.product_id }}"/>
                                    </div>
                                {% endfor %}</div>
                            <button onclick="addManualProductsToList(); return false;" class="add-manual-products-to-list btn btn-primary" >{{ button_manual_add_to_list }}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-prompt">{{ entry_cron }}</label>
                        <div class="col-sm-10">
                            <span>{{ chatgpt_generator_cron }}</span>
                            <br><br>
                            <span>{{ chatgpt_generator_web_cron }}</span>
                            <br><br>
                            <a target="_blank" href="{{ chatgpt_generator_web_cron }}" class="btn btn-success">{{ button_test_start }}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="center-block" style="text-align: center"><h3>{{ text_test_section }}</h3></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-prompt">* <span data-toggle="tooltip" title="{{ help_prompt }}">{{ entry_prompt }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="module_chatgpt_generator_prompt" value="{{ prompt }}" placeholder="{{ entry_prompt }}" id="input-prompt" class="form-control" />
                        </div>
                    </div>
                    <div class="testing">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-prompt">{{ entry_test }}</label>
                            <div class="col-sm-10">
                                <textarea class="test-result" rows="5" style="width: 100%; height: 300px; padding: 5px; border: 1px solid #CCCCCC; background-color: #363a41;color: #8ad0ea; overflow: scroll;"></textarea>
                                <button onclick="testRequest(); return false;" class="prompt-test btn btn-default">{{ button_test }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
	function testRequest(){
		$.ajax({
			url: 'index.php?route=extension/module/chatgpt_generator/testRequest&user_token={{ user_token }}&prompt=' +  encodeURIComponent($('#input-prompt').val()),
			dataType: 'json',
			beforeSend: function() {
				$('.prompt-test').button('loading');
			},
			complete: function() {
				$('.prompt-test').button('reset');
			},
			success: function(json) {
				$('.test-result').text(json['result']);
			}
		});
	}
	function addProductsToList(){
		$.ajax({
			url: 'index.php?route=extension/module/chatgpt_generator/setProductList&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function() {
				$('.add-products-to-list').button('loading');
			},
			complete: function() {
				$('.add-products-to-list').button('reset');
			},
			success: function(json) {
				$('#input-product-work-count').val(json['product_work_count']);
			}
		});
	}
	function addBadProductsToList(){
		$.ajax({
			url: 'index.php?route=extension/module/chatgpt_generator/setBadProductList&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function() {
				$('.add-bad-products-to-list').button('loading');
			},
			complete: function() {
				$('.add-bad-products-to-list').button('reset');
			},
			success: function(json) {
				$('#input-product-work-count').val(json['product_work_count']);
				$('#input-bad-product-work-count').val(json['bad_product_work_count']);
			}
		});
	}
	function addAllProductsToList(){
		$.ajax({
			url: 'index.php?route=extension/module/chatgpt_generator/setAllProductList&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function() {
				$('.add-all-products-to-list').button('loading');
			},
			complete: function() {
				$('.add-all-products-to-list').button('reset');
			},
			success: function(json) {
				$('#input-product-work-count').val(json['product_work_count']);
			}
		});
	}
	function clearProductsToList(){
		$.ajax({
			url: 'index.php?route=extension/module/chatgpt_generator/clearProductList&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function() {
				$('.clear-products-to-list').button('loading');
			},
			complete: function() {
				$('.clear-products-to-list').button('reset');
			},
			success: function(json) {
				$('#input-product-work-count').val(json['product_work_count']);
			}
		});
	}
	function clearBadProductsToList(){
		$.ajax({
			url: 'index.php?route=extension/module/chatgpt_generator/clearBadProductList&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function() {
				$('.clear-bad-products-to-list').button('loading');
			},
			complete: function() {
				$('.clear-bad-products-to-list').button('reset');
			},
			success: function(json) {
				$('#input-bad-product-work-count').val(json['bad_product_work_count']);
			}
		});
	}

	function addManualProductsToList(){
		$.ajax({
			url: 'index.php?route=extension/module/chatgpt_generator/addManualProductList&user_token={{ user_token }}',
            type: 'POST',
            data: $('input[name^=product_manual]'),
			dataType: 'json',
			beforeSend: function() {
				$('.add-manual-products-to-list').button('loading');
			},
			complete: function() {
				$('.add-manual-products-to-list').button('reset');
			},
			success: function(json) {
				$('#input-product-work-count').val(json['product_work_count']);
			}
		});
	}

	// Related
	$('input[name=\'manual\']').autocomplete({
		'source': function(request, response) {
			$.ajax({
				url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
						return {
							label: item['name'],
							value: item['product_id']
						}
					}));
				}
			});
		},
		'select': function(item) {
			$('input[name=\'manual\']').val('');

			$('#product-manual' + item['value']).remove();

			$('#product-manual').append('<div id="product-manual' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_manual[]" value="' + item['value'] + '" /></div>');
		}
	});

	$('#product-manual').delegate('.fa-minus-circle', 'click', function() {
		$(this).parent().remove();
	});

</script>
{{ footer }}